.suggestion-box {
  width: 500px;

  &__header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #16a085;
    color: #fff;
    font-weight: 100;

    span {
      font-size: 1.25rem;
    }

    i {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__body {
    background: #f0f0f0;
  }

  &__list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 70px;
    border-bottom: 1px solid #aaa;

    &:last-of-type {
      border:none;
    }

    div {
      display: flex;
      align-items: center;
    }

      img {
        border-radius: 50%;
        box-shadow: 0 0 0 2px #f0f0f0,
                    0 0 0 3px #aaa;
      }

      span {
        font-size: .875rem;
      }

      i {
        &:hover {
          cursor: pointer;
        }
      }
  }
}
